.card-container {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 12px;
    padding: 12px;
    box-shadow: 0 0.125rem 0.75rem rgba(0,0,0,.16);
    min-width: 320px;
    min-height: 240px;
    border-radius: 16px;
}
